.navbar {
	background-color: #343a40 !important;
	/* Bootstrap dark navbar color */
}

.navbar-brand {
	font-weight: bold;
}

.nav-link {
	color: white !important;
}

.nav-link:hover {
	color: #f8f9fa !important;
}

.container {
	margin-top: 30px;
	width: 800px;
}

h1 {
	color: #343a40;
	margin-bottom: 20px;
	text-align: center;
}

#qr-form {
	background-color: #fff;
	padding: 30px;
	border-radius: 8px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.form-group {
	margin-bottom: 20px;
}

label {
	font-weight: bold;
	color: #495057;
}

.form-control {
	border: 1px solid #ced4da;
	border-radius: 5px;
}

.btn-primary {
	width: 100%;
}

#qr-result {
	margin-top: 30px;
	text-align: center;
}

#qr-result img {
	max-width: 100%;
	height: auto;
	border: 5px solid #007bff;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn-danger {
	display: block;
	margin: 20px auto 0;
	width: 50%;
	max-width: 200px;
}

#qr-result p {
	margin-top: 10px;
	color: #6c757d;
	font-style: italic;
}